@model Library.Web.ViewModels.Books.AllBookViewModel

<h1 class="text-center">All Book</h1>
<form asp-controller="Books" asp-action="All" method="post">
    <p>
        Book Title: <input asp-for="SearchText">
        <input type="submit" class="btn btn-primary" value="Search"/>
    </p>
</form>
<div class="books">
    @foreach (var book in Model.Books)
    {
        <div class="single-book">
            <a href="/Books/Detail/@book.Id" class="single-book__img">
                <img src="@book.ImgUrl" width="100" alt="@book.Title image">
            </a>
            <h4 class="single-book__title">@book.Title</h4>
            <span class="single-book__price">@book.AutorFirstName @book.AutorLastName</span>
        </div>
    }
</div>

