@model Library.Web.ViewModels.Books.AllFavoriteBooksViewModel
@{
    ViewData["Title"] = "My books";
}

<h1 class="text-center mb-4">My books</h1>
<div class="row">
    @foreach (var book in Model.FavouriteBook)
    {
        <div class="single-book col-md-auto">
            <a href="/Books/Detail/@book.BookId" class="single-book__img">
                <img src="@book.BookImgUrl" width="100" alt="@book.BookTitle image">
            </a>
            <h4 class="single-book__title">@book.BookTitle</h4>
            <span class="single-book__price">@book.BookAutorFirstName @book.BookAutorLastName</span>

        </div>

    }
</div>

