@model Library.Web.ViewModels.Books.AllBookViewModel
@{
    ViewData["Title"] = "Books";
}

    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class=" single-book col-md-auto">
                <a href="/Books/Detail/@book.Id" class="single-book__img">
                    <img src="@book.ImgUrl" width="100" alt="@book.Title image">
                </a>
                <h4 class="single-book__title">@book.Title</h4>
                <span class="single-book__price">@book.AutorFirstName @book.AutorLastName</span>
            </div>
        }
    </div>

